:root {
  --rosa-claro: #ffe7e7;
  --roxo-escuro: #855784;
  --vinho: #ac1b74;
  --preto: #121212;
  --branco: #fff5f5;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

h2{
  font-size: 1.75rem;
  color: var(--roxo-escuro);
}


h3 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--preto);
}

p {
  color: var(--preto);
}


html {
  max-width: 1920px;
  font-family: "montserrat";

  @media(max-width:1080px) {
    font-size: 93.75%;
  }

  @media(max-width:720px) {
    font-size: 87.5%;
  }
}


iframe {
  border: 0px;
  width: 750px;
  height: 350px;
}


form {
  display: flex;
  flex-direction: column;

  input {
    padding: 0.75rem;
    margin: 0.25rem;
    border-radius: 0.60rem;
    border: solid 1px var(--roxo-escuro);
    outline: none;

  }


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  button {
    margin: 0.25rem;
  }

}

@media (max-width: 850px) {
  iframe {
    width:100%;
    height: 35vh;

  }
}

@media (max-width: 400px){
  iframe {
    width:100%;
    height: 20vh;

  }

  form{
    button{
      width:95% !important;
    }
  }
}